<%= form_for(@rss) do |f| %>
  <% if @rss.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rss.errors.count, "error") %> prohibited this rss from being saved:</h2>

      <ul>
      <% @rss.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :rss_url %><br>
    <%= f.text_field :rss_url %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :site_link %><br>
    <%= f.text_field :site_link %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :crawl %><br>
    <%= f.check_box :crawl %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
