<p id="notice"><%= notice %></p>

<p>
  <strong>Rss url:</strong>
  <%= @rss.rss_url %>
</p>

<p>
  <strong>Title:</strong>
  <%= @rss.title %>
</p>

<p>
  <strong>Site link:</strong>
  <%= @rss.site_link %>
</p>

<p>
  <strong>Description:</strong>
  <%= @rss.description %>
</p>

<p>
  <strong>Crawl:</strong>
  <%= @rss.crawl %>
</p>

<%= link_to 'Edit', edit_rss_path(@rss) %> |
<%= link_to 'Back', rsses_path %>
