<tr>
  <td>
    <p><b><%= link_to item.title, item.link, :target => "_blank"%></b></p>
    <small><i><%= link_to item.rss_title, item.rss_site_link, :target => "_blank"%></i></small><br>
    <small><%= item.date.strftime('%Y年%m月%d日 %H:%M') %></small>
  </td>
<% if current_user && current_user.admin? %>
<td align="right"><%= link_to 'show', item, class: "btn btn-primary" %></td>
<td align="right">
 <%= link_to "delete", item, method: :delete, class: "btn btn-danger",
                                data: { confirm: "You sure?" } %>
                              </td>
<% end %>
</tr>
