<%= render 'adhead' %>

<table class="table">
  <tbody>
    <%= render @items %>
  </tbody>
</table>

<%= render 'adtail' %>

<%= will_paginate(:page_links => false) %>

<%= render 'share' %>

<%= render 'timeline' %>
