<%= render 'adhead' %>

<% if current_user && current_user.admin? %>
  <%= link_to "Create new item", new_item_path, class: "btn btn-primary" %>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>タイトル</th>
    </tr>
  </thead>
  <tbody>
    <%= render @items %>
  </tbody>
</table>

<%= render 'adtail' %>

<%= will_paginate(:page_links => false) %>

<%= render 'share' %>

<%= render 'timeline' %>
