<%= render 'adhead' %>

<table class="table">
  <thead>
    <tr>
      <th>タイトル</th>
    </tr>
  </thead>
  <tbody>
    <%= render @items %>
  </tbody>
</table>

<%= render 'adtail' %>

<%= will_paginate(:page_links => false) %>

<%= render 'share' %>

<%= render 'timeline' %>
