<p id="notice"><%= notice %></p>

<%= render 'adhead' %>

<p>
  <strong><%= @item.title %> / <%= @rss.title %></strong>
</div>

<p>
  <%= image_tag @item.image %>
</p>

<p>
  <%= @item.description %>
</p>

<p>
<%= link_to '続きを読む', @item.link, class: "btn btn-secondary btn-lg btn-block", :target => "_blank" %>
</p>

<%= render 'adtail' %>

<p>
<%= link_to '<< 記事一覧に戻る', root_path %>
</p>

<%= render 'share' %>
