<p id="notice"><%= notice %></p>

<%= render 'adhead' %>

<h1>
  <%= @item.title %> <br><small class="text-muted"><%= @rss.title %></small>
</h1>

<p>
<%= image_tag @item.image, style: 'max-height:100%;max-width:100%;' %>
</p>

<p>
  <%= @item.description %>
</p>

<p>
<%= link_to '続きを読む', @item.link, class: "center-block btn btn-lg btn-custom", :target => "_blank" %>
</p>

<%= render 'adtail' %>

<p>
<%= link_to '<< 記事一覧に戻る', root_path %>
</p>

<%= render 'share' %>
